Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://venus.sod.asu.edu/WSRepository/xml"
    targetNamespace="http://venus.sod.asu.edu/WSRepository/xml"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <!-- Root element -->
  <xsd:element name="Hotels" type="HotelsType"/>

  <!-- HotelsType: require at least 10 Hotel elements -->
  <xsd:complexType name="HotelsType">
    <xsd:sequence>
      <xsd:element name="Hotel" type="HotelType" minOccurs="10" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- One Hotel -->
  <xsd:complexType name="HotelType">
    <xsd:sequence>
      <xsd:element name="Name"   type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone"  type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <!-- Address -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number"         type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Street"         type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City"           type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State"          type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Zip"            type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="NearestAirport" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
